.project-title {
  display: block;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}
@media (max-width: 50em) {
  .project-title {
    font-size: 10vw;
  }
  .project-subtitle {
    font-size: 8vw;
  }
}
.project-subtitle {
  display: block;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 5vw;
  text-align: center;
}

.img-wrapper {
  overflow: hidden;
  position: relative;
  transition: transform 0.75s cubic-bezier(0.165, 0.84, 0.44, 1),
    -webkit-transform 0.75s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;

  &:hover {
    transform: scale(0.95);

    img {
      transform: scale(1.2);
    }
  }

  img {
    width: 100%;
    transition: transform 0.75s cubic-bezier(0.165, 0.84, 0.44, 1),
      -webkit-transform 0.75s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  max-width: 75em;
  padding: 5em 0;
  margin: 0 auto;
}
.column1{
  grid-column: 1;
}
.column2{
  grid-column: 2;
}
.column3{
  grid-column: 3;
}
.row1{
  grid-row: 1;
}
.row2{
  grid-row: 2;
}
.row3{
  grid-row: 3;
}
@media (max-width: 50em) {
  .wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

}
.pixel-art img{
  image-rendering: -webkit-optimize-contrast;
}
